###
# Unity folders and files
###
/[Aa]ssets/AssetStoreTools*
/[Bb]uild/
/[Ll]ibrary/
/[Ll]ocal[Cc]ache/
/[Oo]bj/
/[Tt]emp/
/[Uu]nityGenerated/
# Exe data folders
*_Data/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta
.collabignore

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# VS cache
/.vsbuild_info.txt
Assets/StreamingAssets/build_info.txt
.vscode/

\.vs/
